body,html{
    font-size: 5vmin;
    background-color: gray;
    font-family:sans-serif;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
*{
    padding:0;
    margin:0;
    color: lightgray;
}
.container{
    position: absolute;
    left:0;
    top:0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
h2{
    font-size: 0.5rem;
}
p{
    color: gray;
    font-size:0.3rem;
}
.link_to a{
    font-size: 0.4rem;
    color: gray;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
@media screen and (max-device-aspect-ratio: 1/1){
    #__01{
        display: none;
    }
    .container{
        background-color: #99CC33;
    }
    /*#__02{*/
        /*font-size: 0;*/
        /*position: absolute;*/
        /*left:50%;*/
        /*top:50%;*/
        /*width: 1000px;*/
        /*height: 1777px;*/
        /*margin:-900px 0 0 -500px;*/
    /*}*/
    nav{
        position: fixed;
        bottom: 0;
        height: 30vh;
        width: 100vw;
        background-color: rgba(0,0,0,0.6);
        overflow: hidden;
    }
    .mobile,
    .desktop{
        width: 33vw;
        float: left;
        overflow: hidden;
    }
    .mobile a,
    .desktop a{
        display: block;
        width:auto;
        margin-left: 12vmin;
    }
    p{
        color: gray;
        font-size:0.5rem;
    }
    .link_to a{
        font-size: 0.8rem;
        color: gray;
    }
}
@media screen and (min-device-aspect-ratio: 1/1){
    #__02{
        display: none;
    }
    #__01{
        font-size: 0;
        position: absolute;
        left:50%;
        top:30%;
        width: 1599px;
        height: 900px;
        margin:-300px 0 0 -800px;
    }
    nav{
        position: fixed;
        width: 30vmin;
        height: 100vh;
        background-color: rgba(0,0,0,0.6);
        overflow: hidden;
    }
    .mobile a,
    .desktop a{
        display: block;
        width:30vmin;
        margin-left: 12vmin;
        overflow: hidden;
    }
}

