
#card6{
    margin-top: 120px;
}
body,html{
    font-size: 10px;
    font-family: "Microsoft YaHei","Helvetica Neue",  Helvetica, Arial, sans-serif;

}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin:0;
    color: gray;
}
a{
    text-decoration: none;
}
.container{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    /*overflow: hidden;*/
}
nav{
    /*position: relative;*/
    padding: 20px;
    padding-bottom: 0;
    width: 100px;
    /*overflow-y: scroll;*/
}
.line{
    float: left;
    height:600px;
    width: 10px;
    margin: auto 5px;
    background-color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.left,
.right{
    width: 120px;
    float: left;
}
/*.right{*/
    /*margin-left: 20px;*/
/*}*/

.card{
    position: relative;
    width: 120px;
    padding: 10px;
    margin-top: 40px;
    background-color: #ffffff;
    font-size: 2rem;
    border-radius: 5px;
}
.arrow{
    position: absolute;
    top:40%;
    width: 0;
    height: 0;
    border:5px solid transparent;

}
.left .arrow{
    left: 120px;
    border-left:5px solid #ffffff;
}
.right .arrow{
    left: -10px;
    border-right:5px solid #ffffff;
}
.link-to{
    /*position: absolute;*/
    /*bottom:20px;*/
    /*left: 20px;*/
    width: 120px;
    margin-top: 40px;
}
.link-to a:hover{
    text-decoration: underline;
}
#cardr,
#cardb{
    color: #ffffff;
    background-color: gray;
}
#cardb h6{
    color: #ffffff;
}
#cardr .arrow
{
    border-right-color: gray;
}
#cardb .arrow{
    border-left-color: gray;
}

#__01{
    font-size: 0;
    position: absolute;
    left:50%;
    top:30%;
    width: 1599px;
    height: 900px;
    margin:-300px 0 0 -800px;
}
@media screen and (min-aspect-ratio: 1/1){

    body{
        background-image: url("images/b_w2.jpg");
        background-position: 50% 30%;
        background-attachment: fixed;
    }
    nav{
        position: absolute;
        width: 320px;
        /*height: 100vh;*/
        background-color: rgba(0,0,0,0.6);
        overflow: auto;
    }

}
@media screen and (max-aspect-ratio: 1/1){
    #__01{
        display: none;
    }
    body{
        background-color: rgba(0,0,0,0.6);
    }
    nav{
        position: static;
        /*height: 100vh;*/
        overflow: auto;
        width: 320px;
        margin: auto;
        background-color: transparent;

    }
}
