.bubble{
    position: relative;
    width: 100%;
    height: 2em;
    font-size: .5rem;
    background-color: rgba(255,255,255,0.6);
}
.bubble .arrow{
    position: absolute;
    left: 20px;
    bottom: -10px;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    border-top: solid 5px rgba(255,255,255,0.6);
}
.remind{
    font-size: .5rem;
}
.card{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border:solid 3px #ffffff;
    float: left;
    width: 22%;
    margin: 5.5%;
    font-size: 0.5rem;
    text-align: center;
}
.card .top{
    display: block;
    width: 100%;
    height: 2em;
    line-height: 2em;
    font-size: .6rem;
    color: #000000;
    background-color: #f5c97b;
}
.card .bottom{
    display: block;
    width: 100%;
    height: 1.3em;
    color: #ffffff;
    background-color: #83b09a;
}
.footer{
    position: fixed;
    bottom:0;
    left: 0;
    height: 2rem;
    width: 75%;
    font-size: .6rem;
    color: #ffffff;
    margin: .8rem 12.5%;
    border: none;
    background-color: #fbb435;
}