/*一些常规的属性*/
*{
    margin: 0;
    padding: 0;
    background: no-repeat;
}
a{
    cursor:pointer;
    text-decoration: none;
}
img{
    border: none;
}
body{
    background-color: #fafafa;
    width: 100%;
}
.clear{
    clear: both;
}