/*清除浮动用的块*/
.clear{
    float: none;
    clear: both;
}
/*底部*/
.footer_main{
    font-size: 0.8rem;
}
/*友情链接*/
.link_to{
    width: 100%;
    min-width: 1024px;
    color: gray;
    background-color: white;
}
.link_to_content{
    width: 1004px;
    /*height: 60px;*/
    padding:10px;
    margin: auto;

}

.link_to li{
    float:left;
    width: 100px;
    list-style-position: inside;
}

.link_to_content > h5{
    width: 100px;
    text-align: center;
    display: block;
    margin: auto;
}
/*联系*/
.contact{
    width: 100%;
    min-width: 1024px;
    height: 150px;
    background-color: #26a26f;
}
.contact{
    width: 100%;
    min-width: 1024px;
    height: 150px;
    background-color: #26a26f;
}
.contact_content{
    width: 1024px;
    height: 170px;
    margin: auto;
    color: white;
    line-height: 3rem;
}

.contact_content > *{
    float:left;

}
.contact_content li{
    list-style-type: none;
}
/*二维码*/
.tdcode{
    float:right;
    margin:30px;
    line-height: 200px;
}
/*左侧*/
.slogan{
    line-height: 6rem;
    font-size: 1rem;
}
/*中间*/
.our_site{
    width: 200px;
    margin-left: 250px;
}
.our_site li{
    width:100px;
    float:left;
}
.copyright{
    width: 100%;
    min-width: 1024px;
    height: 28px;
    background-color: #26a26f;
    border-top: solid 1px #32c086;
    color: white;
    text-align: center;
}