*{
    margin:0;
    padding:0;

}
body{

}
.container{
    width:100vmin;
    margin:auto;
    background-color: #29bde0;
}

/*顶部*/
.top{
    width:100vmin;
    height:14.8vmin;
    line-height: 14.8vmin;
    border-bottom: solid #74d4eb 1px ;

}
.pic-l{
    /*display: block;*/
    float: left;
    width:7.8vmin;
    margin-top: 4.7vmin;
    margin-left: 3.1vmin;
}
.top .title{
    font-size: 5vmin;
    color: white;
    width:22vmin;
    margin:auto;
    text-align: center;
    /*border:solid;*/

}
.pic-r{
    /*display: block;*/
    float:right;
    width:6.3vmin;
    margin-top:4.7vmin;
    margin-right: 3.1vmin;
}

/*结果的图*/
#result-pic{
    /*background: url(images/win.png);*/
    display: block;
    width:54.7vmin;
    height:32.8vmin;
    margin:3.9vmin auto 2.3vmin;
}

/*结果的话*/
#result-text{
    width:78.1vmin;
    line-height: 6vmin;
    margin:auto;
    margin-bottom: 9.3vmin;
    text-align: justify;
    font-size: 4.9vmin;
    font-weight: 900;
    color: #ffc865;

}

/*结果的详细信息：角色*/
#result-detail{
    width:78.1vmin;
    line-height: 5.5vmin;
    margin:auto;
    margin-bottom: 3.9vmin;
    font-size: 3.8vmin;
    color: white;

}
#result-detail li{
    width:26vmin;
    /*margin-right: 1.92vmin;*/
    list-style-type: none;
    float:left ;
}
#result-detail li div{
    width:13vmin;
    /*display: inline;*/
    float:left ;
    text-align: justify;
}

#result-detail p{
    clear: both;
}
#logs{
    width:100vmin;
    margin:auto;
    background: white;
}

/*每天的记录*/
.log{
    padding-top: 1vmin;
    width:100vmin;
    height:25.78vmin;
    border-style: solid none;
    border-width: thin;
    border-color: #dddddd;
    font-size: 4.2vmin;

}


.log p{
    color:#a6a6a6;
}
.log h4,
.log p{
    width:78.1vmin;
    margin:auto;
}
.log h4{

    margin-bottom: 3vmin;
    color:#515151;
}
.log .time{
    font-size: 3.8vmin;
    color: #c7c7c7;
    width:26vmin;
    float:right;
    margin-right: 9vmin;
}

/*底部按钮*/
#footer{
    position: fixed;
    bottom: 0;
    height:20vmin;
    width: 100vmin;
    background-color: rgba(41,189,224,0.5);
}
#footer button{
    float:left;
    width:42.1vmin;
    height:13vmin;
    margin: 3.9vmin;
    color: white;
    border-style: none;
    border-radius:1vmin;
    font-size: 6vmin;
}
#footer #again{
    background-color: #f66f6f;
}
#footer #share{
    background-color: #fbb435;
}
