*{
    margin:0;
    padding:0;

}
body{
    /*background-color: #29bde0;*/
}
/*整个页面*/
.container{
    width:100vmin;
    margin:auto;
    background-color: #29bde0;
    overflow-x: hidden;
}

/*顶部*/
.top{
    width:100%;
    height:14.8vmin;
    line-height: 14.8vmin;

}
.pic-l{
    /*display: block;*/
    float: left;
    width:7.8%;
    margin-top: 3.4vmin;
    margin-left: 3.1%;
}
.top .title{
    display: block;
    /*float: left;*/
    font-size: 5vmin;
    color: white;
    width:22vmin;
    margin:auto;
    text-align: center;
    /*border:solid;*/

}
.pic-r{
    /*display: block;*/
    float:right;
    width:6.3%;
    margin-top:4.7vmin;
    margin-right: 3.1%;
}

/*气泡*/
.bubble{
    width: 92%;
    height:13.5vmin;
    background-color: rgba(255,255,255,0.7);
    line-height: 13.5vmin;
    padding-left:8vmin;
    color: #464646;
    font-size: 4vmin;
}
.bubble img{
    width:8vmin;
    margin:3vmin 11vmin;
    float:right;
}
/*气泡的三角*/
.bubble .triangle{
    position: relative;
    left:4vmin;
    /*bottom: -8vmin;*/
    /*left:10vmin;*/
    width: 0;
    height: 0;
    border-right: solid 1.5vmin transparent;
    border-left: 1.5vmin solid transparent;
    border-top:solid 2vmin rgba(255,255,255,0.7);
    /*border-left: 50px solid transparent;*/

    /*border-right: 50px solid transparent;*/

    /*border-top: 100px solid red;*/
}

/*气泡下的提示*/
.prompt{
    color: #c9eef7;
    padding-left:11vmin;
    font-size: 3.5vmin;
    line-height: 12vmin;
}

/*投票*/
.vote li{
    list-style-type: none;
    float:left;
    width:18vmin;
    height: 20vmin;
    margin:3vmin 7vmin 9vmin;
    border: solid white 2px;
}
/*头像*/
.vote .logo{
    width:100%;
    height:15vmin;
    line-height: 15vmin;
    text-align: center;
    font-size: 5vmin;
    color: #565656;
    background-color: #f5c97b;
}
/*编号*/
.vote .no{
    width: 100%;
    height: 5vmin;
    line-height: 5vmin;
    background-color: #83b09a;

    text-align: center;
    color: white;
    font-size: 3.6vmin;
    font-weight: 900;
}

/*最下面清除浮动*/
.cleaner{
    clear: both;
    width:100%;
    height:27vmin;
}

/*底部按钮*/
footer{
    background-color: #29bde0;
    position: fixed;
    bottom: 0;
    width:100vmin;
    height:27vmin;
    border-top: solid white 1px;
    /*background-color: white;*/
}
footer button{
    display: block;
    height:14vmin;
    width: 80vmin;
    margin: auto;
    margin-top: 6vmin;
    border: none;
    background-color: #fbb435;
    color: white;
    font-size: 6vmin;

}


