*{
    margin:0;
    padding:0;
    /*border:solid;*/
}


body{
    background-color: white;

}

/*最外面的块*/
.wrap{

    position: absolute;
    width: 100vmin;
    height: 100vh;
    margin: auto;
    /*height: 166vmin;*/
    overflow-x:hidden;
    /*不懂x与y的互相影响*/
    /*overflow-y: visible;*/
}

/*菜单*/
.menu{

    background-color: white;
    width:77vmin;
    position: fixed;
    left: -77vmin;
    font-size: 5vmin;
    /*animation-name: showMenu-menu;*/
    /*animation-duration: 1s;*/
    /*animation-fill-mode:forwards;*/
}
.menu li{
    list-style-type: none;
    height: 12.8vmin;
    line-height: 12.8vmin;
    border-bottom: solid thin #d6d6d6;
    color: #29bde0;
}
.menu li img{

    display: block;
    height:6.25vmin;
    margin-top: 3vmin;
}
.menu .icon{
    float:left;
    margin-left: 5vmin;
    margin-right: 5vmin;
}
.menu .go{
    float:right;
    margin-right: 8vmin;
}

/*主界面*/

/*主界面的块*/
.container{
    /*animation-name: showMenu-container;*/
    /*animation-duration: 1s;*/
    /*animation-fill-mode:forwards;*/
    box-shadow: -3vmin 0 3vmin rgba(0,0,0,0.1);
    position: absolute;
    top:0;
    left: 0;
    width:100vmin;

    background-color: #f0f0f0;
}

/*菜单显示按钮*/
.showMenu{
    cursor:pointer;
}

/*顶部栏*/
.top{
    width:100vmin;
    height:14.8vmin;
    line-height: 14.8vmin;
    background-color: #29bde0;
}
.top img{
    margin-left: 3%;
    width:5.46%;
    margin-top: 6.25%;
}

/*除顶部外的主体*/
.main{
    width:89%;
    margin:auto;
    margin-top: 4.68vmin;
}
.record,
.degree-cho{
    background-color: white;
}

/*上次游戏记录块*/
.record{
    width: 100%;
    height:17vmin;
    line-height: 17vmin;
    color: #9a9a9a;
    font-size: 5vmin;
    text-align: center;
    margin-bottom: 4.68vmin;
}
.record img{
    width:3.75vmin;
    float: right;
    margin-right: 2.458vmin;
    margin-top: 6vmin;
}

/*难度选择块的标题栏*/
.degree-cho .title{
    width:100%;
    height:14vmin;
    line-height: 14vmin;
    color: #fbb435;
    font-size: 5.3vmin;
    text-align: center;
    border-bottom: thin solid #fde1ae;
}

/*黄色下一页按钮*/
.degree-cho #next{
    position: absolute;
    right: 0;
    margin-right: 7vmin;
    margin-top: 44vmin;
    width:4.1vmin;
}

/*难度选择的按钮*/
.degree-cho button{
    display: block;
    margin:auto;
    margin-top: 4.68vmin;
    width: 80.75%;
    height: 21.1vmin;
    border: none;
    background-color: #69d1e9;
    color: white;
    font-size: 5.47vmin;
}
.degree-cho p{
    font-size: 3.9vmin;
    text-align: center;
    height: 4vmin;
    color: #9a9a9a;
    margin-top: 4vmin;
}

/*底部小点*/
.point{
    font-size: 0;
    height:4vmin;
    width:14vmin;
    margin: 3vmin auto;
}
.point img{
    margin-left: 1vmin;
    width: 2.5vmin;
    height:2.5vmin;
}

/*菜单划出与隐藏的动画*/
@keyframes showMenu-container {
    from{left:0;}
    to{left:77vmin;}
}
@keyframes showMenu-menu {
    from{left:-77vmin;}
    to{left:0;}
}
@keyframes hideMenu-container {
     from{left:77vmin;}
     to{left:0;}
}
@keyframes hideMenu-menu {
    from{left:0;}
    to{left:-77vmin;}
}